footer {
    background-image: url("./images/footer_background.jpg");
    color: white;
    max-width: 100vw;
    overflow: hidden;
    
    .bi-clock {
        color: aqua;
    }

    .footer-items-container {
        display: flex;
        flex-direction: column;
        position: relative;
        .footer-item {
            padding: 1rem;
            margin-bottom: 1rem;
            width: 100%;
            h3 {
                font-size: $f24;
                margin-bottom: 0.5em;
            }
            p {
                margin-bottom: 1em;
            }

            .footer-posts {
                .footer-post-item {
                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@media (min-width: $xl) {
footer {
    .footer-items-container {
        flex-direction: row;
        .footer-item {
            padding: 2rem;
            margin-bottom: 0;
            margin-top: 0;
        }
    }
}
}