header {
    .header-up {
        padding: 0 $mobilegrid;
        background-color: black;
        .header-logo {
            position: relative;
            width: 20rem;
            a {
                display: block;
                position: relative;
                height: 100%;
                img {
                    max-width: 100%;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .header-content {
        position: relative;
        background-color: rgb(182, 221, 255);
        padding: 0 $mobilegrid;
        justify-content: space-between;
        align-items: stretch;
        height: auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
        #menu {
            flex-direction: column;
            position: relative;
            display: flex;
            .menu-link {
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 0 1rem;
            }
            .menu-link.active {
                a {
                    border-bottom: $f4 solid blue;
                }
                background-color: rgb(217, 231, 243);
                border-bottom: none;
            }
        }
        .search-container {
            align-self: center;
            .search {
                margin-left: 0.5rem;
                display: block;
                background-color: white;
                height: 2em;
                border: 2px solid rgb(196, 194, 194)
            }
        }
    }
}

@media (min-width: $lg) {
header {
    .header-up {
        padding: 0 $desktopgrid;
    }
    .header-content {
        padding: 0 $desktopgrid;
        display: flex;
        height: $f60;
        #menu {
            flex-direction: row;
            .menu-link {
                margin-top: 0;
                margin-bottom: 0;
            }
            .menu-link.active {
                a {
                    border-bottom: none;
                }
                background-color: rgb(217, 231, 243);
                border-bottom: $f4 solid blue;
            }
        }
        .search-container {
            .search {
                margin-left: 0;
            }
        }
    }
}
}

@media (max-width: 350px) {
header {
    .header-up {
        .header-logo {
            width: auto;
            a {
                text-align: center;
                img {
                    width: 15rem;
                }
            }
        }
    }
}
}