
section.posts-gallery-carousel {
    position: relative;
    
    .slick-list {
        margin: 0 0.5rem;
        padding: 1rem 0;
    }

    .posts-gallery-carousel-arrows {
        z-index: 999;
        position: absolute;
        width: 50%;
        bottom: 0;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        display: flex;
        justify-content: space-between;
    }
    .posts-gallery-carousel-container {
        background-color: bisque;
        padding-bottom: 10rem;
        .posts-gallery-item {
            position: relative;
            margin: 0 0.5rem;
            .posts-gallery-item-image {
                height: 15rem;
                width: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    max-width: 100%;
                    object-fit: cover;
                }
            }
            .posts-gallery-item-content {
                border: 1px solid rgba($color: #000000, $alpha: 0.3);
                padding: 1rem;
                h2 {
                    font-family: OpenSansBold;
                }
            }
        }
    }
}

@media (min-width: $lg) {
section.posts-gallery-carousel {
    .posts-gallery-carousel-container {
        padding-bottom: 0;
    }
    .posts-gallery-carousel-arrows {
        z-index: 999;
        position: absolute;
        width: 90%;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        display: flex;
        justify-content: space-between;
    }
}
}